@font-face {
    font-family: ProximaNova-Extrabld;
    src: url("proxima/ProximaNova-Xbold.otf");
}

@font-face {
    font-family: ProximaNova-Sbold;
    src: url("proxima/ProximaNova-Sbold.otf");
}

@font-face {
    font-family: ProximaNova;
    src: url("proxima/ProximaNova-Reg.otf");
}

:root {
    --main: #2C3E50;
    --blue1: #16657A;
    --blue2: #008F92;
    --green1: #38B892;
    --green2: #93DC80;
    --yellow: #16657A;
    --l-grey: ##F9F871;
    --transparant-grey: rgba(0, 0, 0, 0.5);
    --border_blank_grey: #d0d0d0;
}

a:link,
a:visited {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.row {
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.bg_gr_dark {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    /* background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
}

.bg_gr_dark,
.bg_gr_dark * {
    color: white;
}

.bg_img {
    /* height: 100%; */
    position: fixed;
    background-size: cover;
    z-index: -1;
    /* width: 100%;
    position: fixed;
    top: 0; */
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.gen_dnone {
    display: none;
}

.gen_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 1.0px);
    -webkit-backdrop-filter: blur( 1.0px);
    border-radius: 10px;
}

.glass_cover {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 5.0px);
    -webkit-backdrop-filter: blur( 5.0px);
    border-radius: 10px;
    width: calc(100vw - 200px);
    height: calc(100vh - 200px);
    position: fixed;
    top: 100px;
    left: 100px;
}

.glass_menu {
    /*  */
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 5.0px);
    -webkit-backdrop-filter: blur( 5.0px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    height: calc(100vh - 200px);
    position: fixed;
    top: 100px;
    left: 100px;
}